body {
    font-family: Arial;
}

#link1{
    background-color: #98d3a7;
    padding: 20px;
    text-align: center;
    display: block;
}

.link2{
    background-color: #5a5a5a;
    padding: 20px;
    text-align: center;
    display: block;
}

.link3 {
    background-color: black;
    padding: 20px;
    text-align: center;
    display: block;
}

/* link colors */

#link1 a{
    color: red;
}

.link2 a {
    color: gold;
}

.link3 a {
    color: white;
}

/* link states */

a:visited {
    opacity: 0.8;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: blue;
}


#main-title {
    text-align: center;
    color: darkgreen;
}

.title {
    background-color: #5f9ea0;
    color: white;
    padding: 15px;
    font-size: 32px;
}

ul {
    margin-left: 20px;
}

ol {
    margin-left: 25px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

